<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgs.shardingjdbc.dao.OrderMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.wgs.shardingjdbc.dao.OrderDO">
        <result column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="use_id" property="useId"/>
        <result column="money" property="money"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        order_id,
        use_id,
        money
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.orderId != null"> order_id, </if>
            <if test="pojo.useId != null"> use_id, </if>
            <if test="pojo.money != null"> money, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.orderId != null"> #{pojo.orderId}, </if>
            <if test="pojo.useId != null"> #{pojo.useId}, </if>
            <if test="pojo.money != null"> #{pojo.money}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO t_order(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.orderId},
            #{pojo.useId},
            #{pojo.money}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE t_order
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.orderId != null"> order_id = #{pojo.orderId}, </if>
            <if test="pojo.useId != null"> use_id = #{pojo.useId}, </if>
            <if test="pojo.money != null"> money = #{pojo.money} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM t_order
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.orderId != null"> AND order_id = #{pojo.orderId} </if>
            <if test="pojo.useId != null"> AND use_id = #{pojo.useId} </if>
            <if test="pojo.money != null"> AND money = #{pojo.money} </if>
        </where>
        LIMIT 1000 
    </select>

</mapper>
